---
title: Home
layout: home
nav-include: true
nav-order: 1
intro: A libguide for free, open to all online resources on varied feminist politics and history.
feminism: Feminism is a diverse political ideology. You might have as many kinds of feminism as you have people who consider themselves feminists. This guide is designed as an entry point to multiple feminist movements and theories, including liberal feminism, womanism, Marxist feminism, radical feminism, and more. If any of those terms are new or confusing, that's okay. In addition to finding resources from each theoretical standpoint, you can find introductions to each school of thought. This includes the basic concepts, main figures, a brief timeline, and basic critques.
---

<div class="content-left" markdown="1">
<p class="intro">{{page.intro}}</p>
<!--so, here's what I'm thinking. Navigation at the top leads to various kinds of resources, organized by type.
the pages linked in the navigation are these separate ways of looking at theory and history. Could they link back to the pages housing the links to the resources?
kind of life wiki citations but on different pages. I'm also interested in tagging each bit with metadata like "rad" "lib" "article" "journal", etc.
-->

<div>
    <h2 class="hi">Welcome!</h2>
    <p>This is a collection of mostly online resources that can be accessed for free, without any library card or univeristy enrollment requirements.
        The goal of this resource collection is to provide a balanced and less-biased overview of feminist concepts, with a focus on US American history and politics.
        It is not comprehensive, and is not meant to be. It is a starting point. 
    </p>
    <p>{{page.feminism}}</p>
    <h3 class="hi">How to Use This Guide</h3>
    <p>text</p>
    <h3 class="hi">Content</h3>
    <p>text</p>
</div>
<div>
    <h2>Feminist Movements</h2>
    {% for movement in site.movements %}
    <h3>{{ movement.title }}</h3>
    <p><img src="{{movement.image}}"></p>
    <p>{{ movement.content }}</p>
    <p>Part of {{ movement.category }}</p>
    {% endfor %}
</div>
</div>
<div class="img-right">
    <figure>
    <img src="/assets/images/general.jpg"
         alt="image of protest poster">
    <figcaption>Photo by <a href="https://unsplash.com/@nkhasebe?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Nk Ni</a> on <a href="https://unsplash.com/photos/a-person-holding-a-sign-that-says-right-to-learn-right-to-work-all-women-and-uDRctP-2qp8?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a></figcaption>
    </figure>
</div>
<!-- <div class="card">
    {% for movement in site.movements %}
  <img src="{{movement.image}}" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>{{ movement.title }}</b></h4>
    <p>{{ movement.content }}</p>
    {% endfor %}
  </div>
</div>  -->