<div>
<nav>
  <ul>
    <li><a href="{{ "/" | relative_url }}">Home</a></li>
    <li><a href="{{ "/basics" | relative_url }}">The Basics</a></li>
    <li><a href="{{ "/ideologies" | relative_url }}">By Philosophy</a></li>
    <li><a href="{{ "/tags" | relative_url }}">By Tag</a></li>
    <li><a href="{{ "/webpages" | relative_url }}">Webpages & Articles</a></li>
    <li><a href="{{ "/journals" | relative_url }}">Journals</a></li>
    <li><a href="{{ "/videos" | relative_url }}">Video & Audio</a></li>
  </ul>
</nav>
</div>