<figure>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/Boston_1970_protest_against_the_Vietnam_War.jpg/500px-Boston_1970_protest_against_the_Vietnam_War.jpg" alt="A black and white photo of a banner reading Free Angela Davis">
<figcaption>From Wikipedia, an image of a protest to free Angela Davis from prison.</figcaption>
</figure>

<!-- ![A black and white photo of a banner reading Free Angela Davis](https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/Boston_1970_protest_against_the_Vietnam_War.jpg/500px-Boston_1970_protest_against_the_Vietnam_War.jpg "From Wikipedia, an image of a protest to free Angela Davis from prison.")\
From Wikipedia, an image of a protest to free Angela Davis from prison. 
I kinda might not want to keep this as part of includes...-->