---
---

@import "{{ site.theme }}";

body
{
    background-color: rgb(230, 223, 245);
}

nav{
    ul{
        list-style: none;
        border: 1px rgb(87, 7, 161);
    }
    li { 
        display: inline-block; 
    }
    a
    {
        color:rgb(87, 7, 161);
    }
}
/* Style the search box inside the navigation bar but it is not topnav */
.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}
