---
---

@import "{{ site.theme }}";

body {
    background-color: rgb(230, 223, 245);
}

header.site-header {
    background-color: rgb(87, 7, 161);
    a {
    color: rgb(230, 223, 245);
    }
}



div.trigger
{
    border: 2px rgb(87, 7, 161);
}
nav.site-nav
{
    border: 2px rgb(87, 7, 161);
    border-style: round;
}


