---
---
@import "{{ site.theme }}";


body {
    background-color: rgb(230, 223, 245);
}

header.site-header {
    background-color: rgb(199, 196, 254);
    color: rgb(230, 223, 245);
    border-bottom: 2px solid black;
}
.hi {
border-bottom: 2px dashed black;
}

div.wrapper{
    max-width: -webkit-calc(1000px - (30px * 2));
    max-width: calc(1000px - (30px * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left: 30px;
}

.clearfix::after {
    content:"";
    clear: both;
    display: table;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

.content-left {
    @media all and (min-width: 960px) {
        width: 66%;
        float: left;
    }
}

.img-right {
    @media all and (min-width: 960px) {
        width: 33%;
        float: right;
        border: 1px double black;
        background-color: rgb(199, 196, 254);

    }

}

img {
 max-width: 100%;
 height:auto;
}
