---
layout: base
---
<article>
    <header class="post-header">
        <h1 class="post-title">{{ page.title | escape }}</h1>
    </header>
<div>

{% for post in site.documents %}
{% assign tags = tags | concat:post.tags %}
{% endfor %}
{% assign tags = tags | uniq | sort %}
<h3 id="{{ tag | slugify }}">{{ tag }}</h3>
	<ul>
    {% for post in site.documents %}
      <li>
        <a href="/lis786-starterkit{{ post.url }}"> {{ post.title }} </a>
      </li>
    {% endfor %}
	</ul>
Browse more <a href="/lis786-starterkit/tags">tags</a>.
</div>
</article>