---
layout: base
---
<article>
    <header class="post-header">
        <h1 class="post-title">{{ page.title | escape }}</h1>
    </header>
<div>
    {% assign all_categories = site.pages | map: "category" %}

{% for item in all_categories %}
- {{ item }}
{% endfor %}

    {% assign all_tags = site.tags | map: "tag" %}
    {% for tags in all_tags %}
    {% endfor %}
    {% assign tagged_posts = site.posts | where_exp: "post", "post.tags contains 'post_tag'" %}
    {% for post in tagged_posts %}

{% capture my_tag %}
    <ul>
    {% for post in site.documents %}
        <li>
            <a href="/lis786-starterkit{{ post.url }}">{{ post.title }}</a>
        </li>
    {% endfor %}
    </ul>
{% endcapture %}

{{ my_tag }}

</div>
</article>